schema/generic3.xsd

<?xml  version='1.0' encoding='utf-8' ?>
<xs:schema targetNamespace="https://www.railml.org/schemas/3.2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rail3="https://www.railml.org/schemas/3.2" elementFormDefault="qualified" version="3.2">
	<xs:annotation>
		<xs:documentation>Copyright (c) railML.org e.V. Dresden/Germany; All Rights Reserved.&#xD;
&#xD;
This work is licensed under the restricted CreativeCommons Attribution-NonCommercial-NoDerivatives 4.0 International License with additional license conditions of railML.org.&#xD;
&#xD;
For further information see: https://www.railml.org/licence&#xD;
Content of this file: This package is supposed to provide all necessary base types for all other railML 3 packages.</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="HolidayMode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="neverRunsOnHolidays">
				<xs:annotation>
					<xs:documentation>Indicates that the validity does not apply on all public holidays no matter if the specified pattern is marked with one for that day. Trains referencing a validity with this value set will not run on public holidays.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="runsOnAllHolidays">
				<xs:annotation>
					<xs:documentation>Indicates that the validity applies on all public holidays. This means that no matter what is specified via the bitMask, the validity will apply and a train using this validity is scheduled to run.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="runsOnIndicatedHolidays">
				<xs:annotation>
					<xs:documentation>Indicates that the validity applies even if a day is a public holiday. </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tAcceleration">
		<xs:annotation>
			<xs:documentation>applies as basic type for inheritance, should not be used directly because of missing unit of measure</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="tAccelerationMeterPerSquareSec">
		<xs:annotation>
			<xs:documentation>generic type for acceleration values measured in metres per square second</xs:documentation>
		</xs:annotation>
		<xs:restriction base="rail3:tAcceleration"/>
	</xs:simpleType>
	<xs:simpleType name="tAirBrakeApplicationDirection">
		<xs:restriction base="xs:string">
			<xs:enumeration value="N/A"/>
			<xs:enumeration value="P">
				<xs:annotation>
					<xs:documentation>Passenger</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="R">
				<xs:annotation>
					<xs:documentation>Rapid</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="G">
				<xs:annotation>
					<xs:documentation>Goods</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tAngleDeg">
		<xs:annotation>
			<xs:documentation>applies as basic type for inheritance, should not be used directly because of missing unit of measure</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="tAngleDegQuadrant">
		<xs:annotation>
			<xs:documentation>generic type for angle values measured in degree, allowing 0 ... +90</xs:documentation>
		</xs:annotation>
		<xs:restriction base="rail3:tAngleDeg"/>
	</xs:simpleType>
	<xs:simpleType name="tArea">
		<xs:annotation>
			<xs:documentation>applies as basic type for inheritance, should not be used directly because of missing unit of measure</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="tAreaSquareM">
		<xs:annotation>
			<xs:documentation>generic type for area values measured in square metres</xs:documentation>
		</xs:annotation>
		<xs:restriction base="rail3:tArea"/>
	</xs:simpleType>
	<xs:simpleType name="tBitmaskAny">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-1]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tBitmaskWeek">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-1]{7}"/>
			<xs:length value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tBrakePercentage">
		<xs:annotation>
			<xs:documentation>Brake percentage as value of braking performance in relation to vehicle weight</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:maxInclusive value="225"/>
			<xs:minInclusive value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tBrakeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="none"/>
			<xs:enumeration value="compressedAirBrake">
				<xs:annotation>
					<xs:documentation>de: Druckluftbremse</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="vacuumAirBrake">
				<xs:annotation>
					<xs:documentation>de: Saugluftbremse</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cableBrake">
				<xs:annotation>
					<xs:documentation>de: Seilzugbremse</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="parkingBrake"/>
			<xs:enumeration value="handBrake"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tBrakeTypeExt">
		<xs:union memberTypes="rail3:tBrakeType rail3:tOtherEnumerationValue"/>
	</xs:simpleType>
	<xs:simpleType name="tBrakeUse">
		<xs:restriction base="xs:string">
			<xs:enumeration value="both"/>
			<xs:enumeration value="emergency"/>
			<xs:enumeration value="normal"/>
			<xs:enumeration value="unknown"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tBrakeUseExt">
		<xs:union memberTypes="rail3:tBrakeUse rail3:tOtherEnumerationValue"/>
	</xs:simpleType>
	<xs:simpleType name="tCantDeficiency">
		<xs:restriction base="xs:integer">
			<xs:maxInclusive value="300"/>
			<xs:minInclusive value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tClassesList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="first"/>
			<xs:enumeration value="second"/>
			<xs:enumeration value="third"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tClassesListExt">
		<xs:union memberTypes="rail3:tClassesList rail3:tOtherEnumerationValue"/>
	</xs:simpleType>
	<xs:simpleType name="tCurrent">
		<xs:annotation>
			<xs:documentation>applies as basic type for inheritance, should not be used directly because of missing unit of measure</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="tCurrentAmpere">
		<xs:annotation>
			<xs:documentation>generic type for electric current values measured in ampere</xs:documentation>
		</xs:annotation>
		<xs:restriction base="rail3:tCurrent"/>
	</xs:simpleType>
	<xs:simpleType name="tEtcsTrainCategoryNumber">
		<xs:restriction base="xs:integer">
			<xs:maxInclusive value="15"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tExtendedDirection">
		<xs:restriction base="xs:string">
			<xs:enumeration value="both"/>
			<xs:enumeration value="reverse"/>
			<xs:enumeration value="normal"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tForce">
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="tForceN">
		<xs:restriction base="rail3:tForce"/>
	</xs:simpleType>
	<xs:simpleType name="tFreightList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="bulkGoods"/>
			<xs:enumeration value="cars"/>
			<xs:enumeration value="container20"/>
			<xs:enumeration value="container40"/>
			<xs:enumeration value="flatPlatform"/>
			<xs:enumeration value="gas"/>
			<xs:enumeration value="liquidGas"/>
			<xs:enumeration value="liquids"/>
			<xs:enumeration value="liveStock"/>
			<xs:enumeration value="pallets"/>
			<xs:enumeration value="partLoadGoods"/>
			<xs:enumeration value="powder"/>
			<xs:enumeration value="trailers"/>
			<xs:enumeration value="trucks"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tFreightListExt">
		<xs:union memberTypes="rail3:tFreightList rail3:tOtherEnumerationValue"/>
	</xs:simpleType>
	<xs:simpleType name="tFrequency">
		<xs:annotation>
			<xs:documentation>applies as basic type for inheritance, should not be used directly because of missing unit of measure</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="3"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tFrequencyHertz">
		<xs:annotation>
			<xs:documentation>generic type for frequency values measured in hertz</xs:documentation>
		</xs:annotation>
		<xs:restriction base="rail3:tFrequency"/>
	</xs:simpleType>
	<xs:simpleType name="tGenericID">
		<xs:annotation>
			<xs:documentation>an XML-side constrained bi-unique identity; unique across an XML file including its outsourced components (xi:include mechanism); white spaces not allowed</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:ID"/>
	</xs:simpleType>
	<xs:simpleType name="tGenericRef">
		<xs:annotation>
			<xs:documentation>an XML-side constrained reference to one xs:ID value, acts across an XML file including its outsourced components (xi:include mechanism)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:IDREF"/>
	</xs:simpleType>
	<xs:simpleType name="tGradientPerMille">
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="tID">
		<xs:annotation>
			<xs:documentation>use UUID if your system supports this functionality, otherwise use GenericID (xs:ID)</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="rail3:tGenericID rail3:tUUID"/>
	</xs:simpleType>
	<xs:simpleType name="tLength">
		<xs:annotation>
			<xs:documentation>applies as basic type for inheritance, should not be used directly because of missing unit of measure</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="tLengthM">
		<xs:annotation>
			<xs:documentation>generic type for length values measured in metres</xs:documentation>
		</xs:annotation>
		<xs:restriction base="rail3:tLength"/>
	</xs:simpleType>
	<xs:simpleType name="tLengthMM">
		<xs:annotation>
			<xs:documentation>generic type for length values measured in millimetres</xs:documentation>
		</xs:annotation>
		<xs:restriction base="rail3:tLength"/>
	</xs:simpleType>
	<xs:simpleType name="tLoadAccessList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="sideDoors"/>
			<xs:enumeration value="slidingRoof"/>
			<xs:enumeration value="slidingWalls"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tLoadAccessListExt">
		<xs:union memberTypes="rail3:tLoadAccessList rail3:tOtherEnumerationValue"/>
	</xs:simpleType>
	<xs:simpleType name="tMeterload">
		<xs:annotation>
			<xs:documentation>applies as basic type for inheritance, should not be used directly because of missing unit of measure</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="tMeterloadTonsPerMeter">
		<xs:annotation>
			<xs:documentation>generic type for load per meter values measured in tonnes per metre</xs:documentation>
		</xs:annotation>
		<xs:restriction base="rail3:tMeterload"/>
	</xs:simpleType>
	<xs:simpleType name="tOtherEnumerationValue">
		<xs:annotation>
			<xs:documentation>an arbitrary string starting with 'other:' followed by at minimum two characters, white space not allowed for extending railML enumeration lists</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="other:\w{2,}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tPlaceCategoryList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="bicycle"/>
			<xs:enumeration value="bistroSeat"/>
			<xs:enumeration value="couchette"/>
			<xs:enumeration value="foldingSeat"/>
			<xs:enumeration value="pullmannSeat"/>
			<xs:enumeration value="restaurantSeat"/>
			<xs:enumeration value="seat"/>
			<xs:enumeration value="sleeper"/>
			<xs:enumeration value="sleeperette"/>
			<xs:enumeration value="sleeperWithShower"/>
			<xs:enumeration value="sleeperWithShowerWC"/>
			<xs:enumeration value="standing"/>
			<xs:enumeration value="wheelchair"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tPlacesCategoryListExt">
		<xs:union memberTypes="rail3:tOtherEnumerationValue rail3:tPlaceCategoryList"/>
	</xs:simpleType>
	<xs:simpleType name="tPower">
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="tPowerWatt">
		<xs:restriction base="rail3:tPower"/>
	</xs:simpleType>
	<xs:simpleType name="tPriority">
		<xs:annotation>
			<xs:documentation>Priorities are hints for resolving conflicts between similar objects. Lower values indicate a higher priority. In consequence the highest possible priority is 0.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger"/>
	</xs:simpleType>
	<xs:simpleType name="tRef">
		<xs:annotation>
			<xs:documentation>reference an object using its UUID or GenericID (xs:ID)</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="rail3:tGenericRef rail3:tUUID"/>
	</xs:simpleType>
	<xs:simpleType name="tSelfDischargeList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="controlled"/>
			<xs:enumeration value="sideTipping"/>
			<xs:enumeration value="uncontrolled"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tSelfDischargeListExt">
		<xs:union memberTypes="rail3:tOtherEnumerationValue rail3:tSelfDischargeList"/>
	</xs:simpleType>
	<xs:simpleType name="tServiceCategoryList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="airConditioning"/>
			<xs:enumeration value="automaticPassengerCountingSystem"/>
			<xs:enumeration value="impairedToilet"/>
			<xs:enumeration value="integratedHeatingVentilationAirConditioning"/>
			<xs:enumeration value="mobileCatering"/>
			<xs:enumeration value="passengerInformationSystem"/>
			<xs:enumeration value="powerSocket"/>
			<xs:enumeration value="selfService"/>
			<xs:enumeration value="snackVendingMachine"/>
			<xs:enumeration value="surveillanceCamera"/>
			<xs:enumeration value="toilet"/>
			<xs:enumeration value="usbSocket"/>
			<xs:enumeration value="wheelchairLift"/>
			<xs:enumeration value="wlan"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tServiceCategoryListExt">
		<xs:union memberTypes="rail3:tOtherEnumerationValue rail3:tServiceCategoryList"/>
	</xs:simpleType>
	<xs:simpleType name="tSpeed">
		<xs:annotation>
			<xs:documentation>applies as basic type for inheritance, should not be used directly because of missing unit of measure</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="tSpeedKmPerHour">
		<xs:annotation>
			<xs:documentation>generic type for speed/velocity values measured in kilometres per hour</xs:documentation>
		</xs:annotation>
		<xs:restriction base="rail3:tSpeed"/>
	</xs:simpleType>
	<xs:simpleType name="tTiltingActuationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="active"/>
			<xs:enumeration value="none"/>
			<xs:enumeration value="passive"/>
			<xs:enumeration value="rollCompensation"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tTrainRelation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="endOfTrain">
				<xs:annotation>
					<xs:documentation>The tail of the train should be located at the stopping place when the train has stopped.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="headOfTrain">
				<xs:annotation>
					<xs:documentation>The headof the train should be located at the stopping place when the train has stopped. This is the default setting.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="midOfTrain">
				<xs:annotation>
					<xs:documentation>The center of the train should be located at the stopping place when the train has stopped.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tUnitNameList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="%"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="A"/>
			<xs:enumeration value="Hz"/>
			<xs:enumeration value="km/h"/>
			<xs:enumeration value="kWh"/>
			<xs:enumeration value="m/s"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="V"/>
			<xs:enumeration value="VA"/>
			<xs:enumeration value="Vs"/>
			<xs:enumeration value="W"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tUnitNameListExt">
		<xs:union memberTypes="rail3:tOtherEnumerationValue rail3:tUnitNameList"/>
	</xs:simpleType>
	<xs:simpleType name="tUUID">
		<xs:annotation>
			<xs:documentation>syntax taken from http://msdn.microsoft.com/de-de/library/office/fp123689%28v=office.1501401%29.aspx</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(urn:uuid:)?[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}|\{[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}\}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tVoltage">
		<xs:annotation>
			<xs:documentation>applies as basic type for inheritance, should not be used directly because of missing unit of measure</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tVoltageVolt">
		<xs:annotation>
			<xs:documentation>generic type for voltage values measured in volts</xs:documentation>
		</xs:annotation>
		<xs:restriction base="rail3:tVoltage"/>
	</xs:simpleType>
	<xs:simpleType name="tVolume">
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="tVolumeCubicM">
		<xs:restriction base="rail3:tVolume"/>
	</xs:simpleType>
	<xs:simpleType name="tWeight">
		<xs:annotation>
			<xs:documentation>applies as basic type for inheritance, should not be used directly because of missing unit of measure</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="tWeightTons">
		<xs:annotation>
			<xs:documentation>generic type for weight/load values measured in tonnes</xs:documentation>
		</xs:annotation>
		<xs:restriction base="rail3:tWeight"/>
	</xs:simpleType>
	<xs:complexType name="BitmaskValidity">
		<xs:complexContent>
			<xs:extension base="rail3:TimePeriodBase">
				<xs:sequence>
					<xs:element name="weekPatterns" type="rail3:WeekPatterns" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>In order to allow for printing of schedules, this element allows to specify a number of week patterns. These patterns are considered to be the base of the provided bitmask. The leading element in terms of when an operation takes place and when it is not is the bitmask.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="bitmask" use="required" type="rail3:tBitmaskAny">
					<xs:annotation>
						<xs:documentation>This is a bit mask with 0 or 1 for every day of the timetablePeriod. A 0 indicates a non-operating day, while a 1 indicates an operating day.&#xD;
The first character corresponds with the first day of the bitmaskValidity indicated by the fromDate.&#xD;
The last character corresponds with the last day of the bitmaskValidity. The length of the bitmask specifies the number of days the enclosing validity describes.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="fromDate" use="required" type="xs:date">
					<xs:annotation>
						<xs:documentation>Specifies the first day when this validities bitmask is to be applied.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="timePeriodRef" use="optional" type="rail3:tRef">
					<xs:annotation>
						<xs:documentation>Reference to the time period. </xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CalendarTimePeriod">
		<xs:complexContent>
			<xs:extension base="rail3:TimePeriodBase">
				<xs:sequence/>
				<xs:attribute name="from" use="optional" type="xs:dateTime"/>
				<xs:attribute name="to" use="optional" type="xs:dateTime"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CalendarTimePeriodWithBitmask">
		<xs:complexContent>
			<xs:extension base="rail3:BitmaskValidity">
				<xs:sequence>
					<xs:element name="periodRule" type="rail3:PeriodRule" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ClockTimePeriod">
		<xs:complexContent>
			<xs:extension base="rail3:TimePeriodBase">
				<xs:sequence/>
				<xs:attribute name="from" use="optional" type="xs:time"/>
				<xs:attribute name="to" use="optional" type="xs:time"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DateWithBitmask">
		<xs:sequence/>
		<xs:attribute name="bitmask" use="optional" type="rail3:tBitmaskAny"/>
		<xs:attribute name="date" use="optional" type="xs:date"/>
	</xs:complexType>
	<xs:complexType name="Designator">
		<xs:annotation>
			<xs:documentation>external identifier of the entity</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
		<xs:attribute name="description" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>description of the designator, which can be used to provide basic information about an external system that uses the designator for external referencing</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="entry" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>the designator of the element in the specified register</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="register" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>name of a register where the designator entry can be found</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ElemBasedPeriodRule">
		<xs:complexContent>
			<xs:extension base="rail3:ShiftablePeriodRule">
				<xs:sequence>
					<xs:choice minOccurs="1" maxOccurs="1">
						<xs:element name="genericOperatingPeriod" type="rail3:GenericOperatingPeriodDescription" minOccurs="1" maxOccurs="1"/>
						<xs:element name="operatingDay" type="rail3:OperatingDay" minOccurs="1" maxOccurs="1"/>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="External">
		<xs:sequence/>
		<xs:attribute name="description" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>description of the external identifier or reference, providing basic information about external system</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="id" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>an external identifier of the element</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ref" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>a reference to an external element</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="FreightFacilities">
		<xs:annotation>
			<xs:documentation>The details of a facility for freight use.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="designator" type="rail3:Designator" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The descriptive name of the facility according to a register.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="count" use="optional" type="xs:positiveInteger">
			<xs:annotation>
				<xs:documentation>The number of the available facilities of this type used for freight.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="freightType" use="optional" type="rail3:tFreightListExt"/>
		<xs:attribute name="hasWeatherProtection" use="optional" type="xs:boolean"/>
		<xs:attribute name="load" use="optional" type="rail3:tWeightTons"/>
		<xs:attribute name="loadAccess" use="optional" type="rail3:tLoadAccessListExt">
			<xs:annotation>
				<xs:documentation>The way of access to the vehicle for loading and unloading the freight for this facility.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="loadArea" use="optional" type="rail3:tAreaSquareM"/>
		<xs:attribute name="loadVolume" use="optional" type="rail3:tVolumeCubicM"/>
		<xs:attribute name="selfDischarge" use="optional" type="rail3:tSelfDischargeListExt">
			<xs:annotation>
				<xs:documentation>The specification for discharging (unloading) the freight of this facility.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GenericOperatingPeriodDescription">
		<xs:complexContent>
			<xs:extension base="rail3:PeriodRuleElement">
				<xs:sequence>
					<xs:element name="dateSet" type="rail3:DateWithBitmask" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="isPublicHoliday" use="optional" type="xs:boolean"/>
				<xs:attribute name="name" use="optional" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GenericTimePeriod">
		<xs:complexContent>
			<xs:extension base="rail3:TimePeriodBase">
				<xs:sequence>
					<xs:element name="containedSituation" type="rail3:TimePeriodRuleSituation" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Name">
		<xs:annotation>
			<xs:documentation>Established, human-readable short string in natural language, giving the object a name. Not intended for machine interpretation.</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
		<xs:attribute name="description" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>should be interpreted in its elements' context, substantiates the name</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="language" use="required" type="xs:language">
			<xs:annotation>
				<xs:documentation>natural language identification according to http://www.w3.org/TR/xml/#sec-lang-tag; should always be given</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>should be interpreted in its elements' context (e.g. signal/name, vehicle/name)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="OperatingDay">
		<xs:complexContent>
			<xs:extension base="rail3:PeriodRuleElement">
				<xs:sequence/>
				<xs:attribute name="bitmask" use="optional" type="rail3:tBitmaskWeek"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PassengerFacilities">
		<xs:annotation>
			<xs:documentation>container for passenger facilities (places or service)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="places" type="rail3:Places" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The details of a facility for passengers formed by places or seats.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="service" type="rail3:Service" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The details of a facility for passengers formed by a service.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Period">
		<xs:sequence>
			<xs:choice minOccurs="1" maxOccurs="1">
				<xs:element name="period" type="rail3:CalendarTimePeriod" minOccurs="1" maxOccurs="1"/>
				<xs:element name="periodBitmask" type="rail3:CalendarTimePeriodWithBitmask" minOccurs="1" maxOccurs="1"/>
				<xs:element name="periodGeneric" type="rail3:GenericTimePeriod" minOccurs="1" maxOccurs="1"/>
				<xs:element name="weekDayPeriod" type="rail3:WeekDayPeriodWithTime" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PeriodRule">
		<xs:complexContent>
			<xs:extension base="rail3:TimePeriodRule">
				<xs:sequence>
					<xs:element name="period" type="rail3:ClockTimePeriod" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PeriodRuleElement" abstract="true">
		<xs:sequence/>
	</xs:complexType>
	<xs:complexType name="Places">
		<xs:annotation>
			<xs:documentation>The details of a facility for passengers formed by places or seats.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="designator" type="rail3:Designator" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Descriptive name of the places or seats according to a register.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="category" use="optional" type="rail3:tPlacesCategoryListExt">
			<xs:annotation>
				<xs:documentation>The category detailing the kind of place or seat.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="class" use="optional" type="rail3:tClassesListExt">
			<xs:annotation>
				<xs:documentation>The commercial classification of the seats - first, second or third class.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="compartmentSize" use="optional" type="xs:positiveInteger">
			<xs:annotation>
				<xs:documentation>In case of seats arranged in a compartment this is the number of seats per compartment.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="count" use="optional" type="xs:positiveInteger">
			<xs:annotation>
				<xs:documentation>The number of places or seats.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isUsableForWheelChair" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>Flag, whether the place can be used by wheelchairs.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="placeRelatedService" use="optional" type="rail3:tServiceCategoryListExt">
			<xs:annotation>
				<xs:documentation>List of services available at the seat or place.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="standingArea" use="optional" type="xs:double">
			<xs:annotation>
				<xs:documentation>The size of the standing area in squaremetres.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PublicHolidayPeriodRule">
		<xs:complexContent>
			<xs:extension base="rail3:ShiftablePeriodRule">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Service">
		<xs:annotation>
			<xs:documentation>The details of a facility for passengers formed by a service.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="designator" type="rail3:Designator" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Descriptive name of the service according to a register.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="category" use="optional" type="rail3:tServiceCategoryListExt">
			<xs:annotation>
				<xs:documentation>The category specifying the type of service.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="count" use="optional" type="xs:positiveInteger">
			<xs:annotation>
				<xs:documentation>The number of service instances available.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ShiftablePeriodRule">
		<xs:complexContent>
			<xs:extension base="rail3:TimePeriodRule">
				<xs:sequence/>
				<xs:attribute name="shift" use="optional" type="xs:integer"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tAuxiliaryBrakes">
		<xs:annotation>
			<xs:documentation>provides a list of possible auxiliary brakes working together with the main brake of this setting. The attribute for each auxiliary brake forms a flag whether it is active with this setting of vehicle brake.</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
		<xs:attribute name="brakeUse" use="optional" type="rail3:tBrakeUseExt">
			<xs:annotation>
				<xs:documentation>planned/calculated usage of specified brakes</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="E" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>electro-dynamic, rheostatic brakes</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ep" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>electro-pneumatic brakes</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="H" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>hydro-dynamic brake</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Mg" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>magnetic shoe brakes</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Wb" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>eddy current brakes</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="tBrakeSystem">
		<xs:annotation>
			<xs:documentation>describes the type of vehicle brakes and their application as brake effort or deceleration. There is a distinction between normal brake operation and emergency brake application.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="auxiliaryBrakes" type="rail3:tAuxiliaryBrakes" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>provides a list of possible auxiliary brakes working together with the main brake of this setting. The attribute for each auxiliary brake forms a flag whether it is active with this setting of vehicle brake.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="airBrakeApplicationPosition" use="optional" type="rail3:tAirBrakeApplicationDirection">
			<xs:annotation>
				<xs:documentation>base brake switch, one of G, P or R</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="brakeType" use="optional" type="rail3:tBrakeTypeExt">
			<xs:annotation>
				<xs:documentation>technical type of brake system: vacuum or compressed air brake, hand brake, parking brake, cable brake etc.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="emergencyBrakeMass" use="optional" type="rail3:tWeightTons">
			<xs:annotation>
				<xs:documentation>brake mass for emergency brake operations, differs from regular brake mass depending on auxiliary brakes in metric tons</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="emergencyBrakePercentage" use="optional" type="rail3:tBrakePercentage">
			<xs:annotation>
				<xs:documentation>brake percentage for emergency brake operations, differs from regular brake percentage depending on auxiliary brakes</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxDeceleration" use="optional" type="rail3:tAccelerationMeterPerSquareSec">
			<xs:annotation>
				<xs:documentation>specification of maximum possible momentary deceleration in meter per square second</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="meanDeceleration" use="optional" type="rail3:tAccelerationMeterPerSquareSec">
			<xs:annotation>
				<xs:documentation>specification of effective mean deceleration of a whole brake operation in meter per square second</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="regularBrakeMass" use="optional" type="rail3:tWeightTons">
			<xs:annotation>
				<xs:documentation>brake mass for normal brake operations of none-automatic brakes in metric tons</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="regularBrakePercentage" use="optional" type="rail3:tBrakePercentage">
			<xs:annotation>
				<xs:documentation>brake percentage for normal brake operations of none-automatic brakes</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="tElementBitmaskAny">
		<xs:sequence/>
		<xs:attribute name="bitmask" use="optional" type="rail3:tBitmaskAny"/>
	</xs:complexType>
	<xs:complexType name="tElementBitmaskWeek">
		<xs:sequence/>
		<xs:attribute name="bitmask" use="optional" type="rail3:tBitmaskWeek"/>
	</xs:complexType>
	<xs:complexType name="tElementTimeStamp">
		<xs:sequence/>
		<xs:attribute name="timestamp" use="optional" type="xs:dateTime"/>
	</xs:complexType>
	<xs:complexType name="tElementWithID" abstract="true">
		<xs:sequence/>
		<xs:attribute name="id" use="required" type="rail3:tID">
			<xs:annotation>
				<xs:documentation>unique identifier</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="tElementWithIDandCode">
		<xs:complexContent>
			<xs:extension base="rail3:tElementWithID">
				<xs:sequence/>
				<xs:attribute name="code" use="optional" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tElementWithIDandName" abstract="true">
		<xs:complexContent>
			<xs:extension base="rail3:tElementWithID">
				<xs:sequence>
					<xs:element name="name" type="rail3:Name" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tElementWithIDref">
		<xs:annotation>
			<xs:documentation>generic base type, used for inheritance of types deploying references</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
		<xs:attribute name="ref" use="required" type="rail3:tRef">
			<xs:annotation>
				<xs:documentation>reference is required because it's the purpose of the element</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TimePeriodBase" abstract="true">
		<xs:sequence/>
	</xs:complexType>
	<xs:complexType name="TimePeriodRule" abstract="true">
		<xs:sequence/>
		<xs:attribute name="isNegated" use="optional" type="xs:boolean"/>
	</xs:complexType>
	<xs:complexType name="TimePeriodRuleSituation">
		<xs:sequence>
			<xs:choice minOccurs="1" maxOccurs="unbounded">
				<xs:element name="elementBasedPeriodRule" type="rail3:ElemBasedPeriodRule" minOccurs="1" maxOccurs="1"/>
				<xs:element name="periodRule" type="rail3:PeriodRule" minOccurs="1" maxOccurs="1"/>
				<xs:element name="publicHolidayPeriodRule" type="rail3:PublicHolidayPeriodRule" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="fromDate" use="optional" type="xs:date"/>
	</xs:complexType>
	<xs:complexType name="TimeStamp">
		<xs:sequence/>
		<xs:attribute name="at" use="optional" type="xs:dateTime"/>
	</xs:complexType>
	<xs:complexType name="WeekDayPeriod">
		<xs:complexContent>
			<xs:extension base="rail3:TimePeriodBase">
				<xs:sequence/>
				<xs:attribute name="pattern" use="required" type="rail3:tBitmaskWeek">
					<xs:annotation>
						<xs:documentation>7-character field with 0 or 1 for each day of the week, the first day of the week being a Monday. A 0 indicates a non-operating day, while a 1 indicates an operating day. </xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="publicHolidayMode" use="optional" default="runsOnIndicatedHolidays" type="rail3:HolidayMode">
					<xs:annotation>
						<xs:documentation>Indicates how the enclosing validity operates in regards to public holidays.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WeekDayPeriodWithTime">
		<xs:complexContent>
			<xs:extension base="rail3:WeekDayPeriod">
				<xs:sequence>
					<xs:element name="periodRule" type="rail3:PeriodRule" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WeekPattern">
		<xs:sequence/>
		<xs:attribute name="endDate" use="optional" type="xs:date">
			<xs:annotation>
				<xs:documentation>Last applicable date of the week pattern. It is expected to be within the duration described by  the enclosing validity.&#xD;
If no endDate is provided it is assumed that the weekPattern applies until the end of the enclosing bitmaskValidity</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="pattern" use="required" type="rail3:tBitmaskWeek">
			<xs:annotation>
				<xs:documentation>7-character field with 0 or 1 for each day of the week, the first day of the week being a Monday. A 0 indicates a non-operating day, while a 1 indicates an operating day. &#xD;
Note that the specified startDate of the enclosing WeekPattern is not necessarily the first day of the 7 character field, nor is it necessarily the first 1 in the pattern.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="publicHolidayMode" use="optional" default="runsOnIndicatedHolidays" type="rail3:HolidayMode">
			<xs:annotation>
				<xs:documentation>Indicates how the enclosing validity operates in regards to public holidays.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="startDate" use="optional" type="xs:date">
			<xs:annotation>
				<xs:documentation>First applicable date of the week pattern. It is expected to be within the duration described by the enclosing validity.&#xD;
Note that the specified startDate of the enclosing WeekPattern is not necessarily the first day of the 7 character field, nor is it necessarily the first 1 in the pattern.&#xD;
If startDate is not provided it is assumed that the weekPattern applies from the start of the enclosing bitmaskValidity.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="WeekPatterns">
		<xs:sequence>
			<xs:element name="weekPattern" type="rail3:WeekPattern" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A weekpattern describes the general pattern of operating days between a startDate and an endDate that is the base of the enclosing bitmask.&#xD;
It is important to note that the weekPatterns provided here are not the leading information in terms validity. They are provided only in order to explain how the enclosing bitmask was constructed.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:attributeGroup name="anyAttribute">
		<xs:annotation>
			<xs:documentation>provide an extension point for non-railML 'any attribute' in a foreign namespace</xs:documentation>
		</xs:annotation>
		<xs:anyAttribute processContents="strict"/>
	</xs:attributeGroup>
</xs:schema>